/* FONTS */
@font-face {
  font-family: 'lobsterregular';
  src: url('/fonts/lobster-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'source_serif_proitalic';
  src: url('/fonts/sourceserifpro-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; /*:focus styles have been implemented*/
  font-family: inherit;
}


/* GENERAL || */

:root {
  font-size: 10px;
  --italic-font: 'source_serif_proitalic';
  --reg-font: 'lobsterregular';
  --header-font-size: 1.5rem;
  --title-base-font-size: 2.05rem;
  --title-sec-font-size: 3.25rem;
  --title-big-font-size: 4.05rem;
  --data-base-font-size: 1.95rem;
  --data-sec-font-size: 2.25rem;
  --data-big-font-size: 2.75rem;
  --output-base-font-size: 4.95rem;
  --output-sec-font-size: 5.75rem;
  --keypad-base-top-padding: 1.5rem;
  --keypad-sec-top-padding: 1.95rem;
  --btn-border-style: solid inset outset solid;
  --btn-base-border-width: 2px 3px 3px 2px;
  --btn-sec-border-width: 2px 4px 4px 2px;
  --symbtn-sec-font-size: 2.5rem;
  --numbtn-sec-font-size: 2.25rem;
  --symbtn-big-font-size: 3rem;
  --numbtn-big-font-size: 3.25rem;
  --shtcut-h2-base-font-size: 2.05rem;
  --shtcut-h2-sec-font-size: 2.95rem;
  --shtcut-h2-big-font-size: 3.5rem;
  --shtcut-p-base-font-size: 1.95rem;
  --shtcut-p-sec-font-size: 2.5rem;
  --shtcut-p-big-font-size: 2.75rem;
}

:root.light {
  --body-bg: #fefefe;
  --body-txt: #333;
  --switch-border: #ddd;
  --controls-border: #666;
  --svg-bg: #eef;
  --svgelems-bg: #666;
  --svgelems-border: #bbb;
  --shtcut-label-bg: #fefefe;
  --shtcut-label-border: #eef;
  --shtcut-bg: #f4f2f2;
  --shtcut-txt: #011472;
  --shtcut-kbd: #eef;
  --shtcut-outline: #ddd;
  --shtcut-key-border: #999;
  --shtcut-key-shadow: #333;
  --openbtn-outline: #666;
  --closebtn-border: #333;
  --closebtn-outline: #001320;
  --overlay-bg: rgba(0,0,0,0.6);
  --calc-bg: #eef;
  --calc-border: #999;
  --calc-shadow: 1px 2px 2px #666;
  --title-txt: #424253;
  --display-bg: #fcfcfa;
  --display-txt: #363436;
  --display-border: 3px groove #eee;
  --btn-txt: #000836;
  --btn-active: #eef;
  --symbtn-bg: #d0d6e9;
  --symbtn-border: #999 #888 #aaa #999;
  --symbtn-focus-bg: #f1f1f1;
  --symbtn-focus-shadow: inset -1px 0 3px #777, inset 0 -1px 1px #777;
  --numbtn-bg: #e0e2e9;
  --numbtn-border: #aaa #999 #bbb #aaa;
  --numbtn-focus-bg: #f4f2f2;
  --numbtn-focus-shadow: inset -1px 0 3px #888, inset 0 -1px 1px #888;
  --btn-focus-border-rgt: inset;
}

:root.dark {
  --body-bg: #030004;
  --body-txt: #ccc;
  --switch-border: #666;
  --controls-border: #ddd;
  --svg-bg: #011472;
  --svgelems-bg: #eef;
  --svgelems-border: #888;
  --shtcut-label-bg: #030004;
  --shtcut-label-border: #666;
  --shtcut-bg: #3a4764;
  --shtcut-txt: #ddd;
  --shtcut-kbd: #00243e;
  --shtcut-outline: #666;
  --shtcut-key-border: #ddd;
  --shtcut-key-shadow: #ddd;
  --openbtn-outline: #ddd;
  --closebtn-border: #000;
  --closebtn-outline: #ddd;
  --overlay-bg: rgba(0,0,0,0.75);
  --calc-bg: #666;
  --calc-border: #444;
  --calc-shadow: 1px 2px 2px #333;
  --title-txt: #eee;
  --display-bg: #2a2f37;
  --display-txt: #ddd;
  --display-border: 3px ridge #999;
  --btn-txt: #ddd;
  --btn-active: #666;
  --symbtn-bg: #00243e;
  --symbtn-border: #001320 #013354 #02497a #000f1a;
  --symbtn-focus-bg: #3a5464;
  --symbtn-focus-shadow: inset -1px 0 3px #000f1a, inset 0 -1px 1px #000f1a;
  --numbtn-bg: #000836;
  --numbtn-border: #000624 #010c4c #011472 #000315;
  --numbtn-focus-bg: #464c68;
  --numbtn-focus-shadow: inset -1px 0 3px #000315, inset 0 -1px 1px #000315;
  --btn-focus-border-rgt: outset;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--body-txt);
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.at-only {
  border: 0;
  clip: rect(0,0,0,0); /* has wider support */
  clip-path: inset(50%);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


/* HEADER || */

header {
  align-self: flex-start;
  width: 100%;
  padding: 2vh 0;
  display: flex;
  justify-content: space-between;
}

/* Theme Switch */
[role="radiogroup"] {
  display: flex;
  align-items: center;
}

.switch {
  margin: 0 0.5rem;
  position: relative;
}

label {
  font: bold var(--header-font-size) var(--italic-font);
  cursor: pointer;
}

input {
  cursor: pointer;
  appearance: none;
  opacity: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  z-index: 10;
}

input:first-of-type {
  left: 0;
}

input:last-of-type {
  left: 24px;
}

.controls {
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 12px;
}

[role='radiogroup'].enter .controls, [role='radiogroup']:focus-within .controls {
  border: 0.5rem double var(--switch-border);
  outline: 1px dashed transparent; /* for Contrast Themes */
  outline-offset: 4px;
}

.controls::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 24px;
  height: 24px;
  border: 0.5rem double var(--controls-border);
  border-radius: 50%;
}

input:first-of-type:checked ~ .controls {
  background-color: #666;
  transition: background-color 0.4s ease-in-out;
}

input:first-of-type:checked ~ .controls::after {
  background-color: #fefefe;
  transform: translateX(0);
  transition: background-color 0.4s ease-in-out, transform 0.45s ease-out;
}

input:last-of-type:checked ~ .controls {
  background-color: #eef;
  transition: background-color 0.4s ease-in-out;
}

input:last-of-type:checked ~ .controls::after {
  background-color: #666;
  transform: translateX(24px);
  transition: background-color 0.4s ease-in-out, transform 0.45s ease-out;
}

/* Keyboard Shortcuts */
.shtcut-open-btn {
  position: relative;
  cursor: pointer;
  width: 58px;
  height: 28px;
  border-radius: 4px;
  box-shadow: 1px 1px #666, 0 0 0 2px #bbb;
}

.shtcut-open-btn.enter, .shtcut-open-btn:focus {
  box-shadow: 0 0 0 2px var(--openbtn-outline);
  outline: 1px dashed transparent; /* for Contrast Themes */
  outline-offset: 4px;
}

.shtcut-open-btn.enter .tooltip, .shtcut-open-btn:focus .tooltip {
  position: absolute;
  top: 30px;
  right: 0;
  width: auto;
  min-width: max-content;
  clip: auto;
  clip-path: none;
  overflow: visible;
  white-space: normal;
  background-color: var(--shtcut-label-bg);
  border: 1px solid var(--shtcut-label-border);
  border-radius: 5px;
  padding: 5px;
  font-size: var(--header-font-size);
  font-weight: bold;
  color: var(--body-txt);
  z-index: 1;
}

.shortcut {
  width: 90vw;
  transform: skew(-1deg, 0.15deg);
  line-height: 1.75;
  color: var(--shtcut-txt);
  background-color: var(--shtcut-bg);
  border: 2px solid var(--shtcut-outline);
  border-radius: 2px;
  padding: 1.05rem;
  position: fixed;
  z-index: 50;
}

.shortcut h2 {
  font-size: var(--shtcut-h2-base-font-size);
  font-weight: bold;
  padding: 0.5rem;
}

.shortcut p {
  font-size: var(--shtcut-p-base-font-size);
  text-align: left;
  margin-bottom: 0.75rem;
}

.shortcut .key {
  padding: 0 3px 1px;
  border: 1px solid var(--shtcut-key-border);
  border-radius: 3px;
  box-shadow: 1px 1px 1px var(--shtcut-key-shadow);
}

.shortcut kbd {
  background-color: var(--shtcut-kbd);
}

.shtcut-cloz-btn {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--btn-txt);
  padding: 5px;
  border: 1px solid var(--closebtn-border);
  border-radius: 3px;
  box-shadow: 2px 2px 3px var(--closebtn-border);
  margin-right: 0.75rem;
  float: right;
}

.shtcut-cloz-btn.enter, .shtcut-cloz-btn:focus {
  outline: 2px dashed var(--closebtn-outline);
  outline-offset: 3px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
}


/* MAIN || */

.calculator {
  width: 87.65vw;
  height: 85vh;
  max-height: 600px;
  padding: 1.5rem 2rem 2rem;
  background-color: var(--calc-bg);
  border-radius: 2%;
  border-width: 1px 4px 5px 1px;
  border-style: solid inset inset solid;
  border-color: var(--calc-border);
  box-shadow: var(--calc-shadow);
  transform: skew(-1deg, 0.15deg);
  display: flex;
  flex-direction: column;
}

.title {
  font: bold var(--title-base-font-size) var(--reg-font), serif;
  color: var(--title-txt);
  padding: 0.75rem;
}

/* Display */
.display {
  transform: skew(0.1deg,0.2deg);
  color: var(--display-txt);
  background-color: var(--display-bg);
  border: var(--display-border);
  border-radius: 3.5%;
  flex: 1 90px;
  display: flex;
  flex-direction: column;
}

.data {
  flex: 2;
  font: bold var(--data-base-font-size)/1 var(--italic-font), serif;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.data > span {
  flex: auto;
}

.outputt {
  flex: 3;
  align-self: flex-end;
  font: var(--output-base-font-size)/1 var(--reg-font), serif;
  margin-right: 0.95rem;
  display: flex;
  align-items: center;
}

/* Keypad */
.keypad {
  flex: 3.75 auto;
  transform: skewX(0.15deg);
  padding-top: var(--keypad-base-top-padding);
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 0.75rem;
}

.keypad [data-key="Delete"] {
  grid-column: span 2;
}

.keypad [data-key="Clear"] {
  grid-column: span 2;
}

.keypad button {
  border-radius: 9%;
  color: var(--btn-txt);
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.symbol {
  border-width: var(--btn-base-border-width);
  border-style: var(--btn-border-style);
  border-color: var(--symbtn-border);
  background-color: var(--symbtn-bg);
  font: bold 2.05rem/1 var(--italic-font), serif;
}

button.number {
  border-width: var(--btn-base-border-width);
  border-style: var(--btn-border-style);
  border-color: var(--numbtn-border);
  background-color: var(--numbtn-bg);
  font: 1.95rem/1 var(--reg-font), serif;
}

/* differentially implements styles for showing movement in keypad, used .enter instead of :hover coz :hover styles are unreliable on touchscreens */
button.number.enter, button.number:focus {
  background-color: var(--numbtn-focus-bg);
  box-shadow: var(--numbtn-focus-shadow);
  border-right-style: var(--btn-focus-border-rgt);
  font-weight: bold;
  outline: 2px dashed transparent; /* for Contrast Themes */
  outline-offset: 4px;
}

button.symbol.enter, button.symbol:focus {
  background-color: var(--symbtn-focus-bg);
  box-shadow: var(--symbtn-focus-shadow);
  border-right-style: var(--btn-focus-border-rgt);
  font-weight: bold;
  outline: 2px dashed transparent; /* for Contrast Themes */
  outline-offset: 4px;
}

/* Contrast Themes */
@media screen and (forced-colors: active) {
  .controls, [role='radiogroup'].enter .controls, [role='radiogroup']:focus-within .controls {
    border: 2px solid CanvasText;
  }

  .shtcut-open-btn {
    box-sizing: content-box; /* changed to allow 4 btn border while maintaining svg proportions */
    border: 2px solid CanvasText;
  }

  .shtcut-open-btn.enter, .shtcut-open-btn:focus {
    outline-color: CanvasText; /* for consistency with theme controls */
  }

  .svg-bg {
    fill: Canvas;
  }

  .svg-elems {
    fill: Canvas;
    stroke: CanvasText;
  }

  button.symbol.enter, button.number.enter, button.symbol:focus, button.number:focus {
    border-color: CanvasText;
  }
}

/* .active for visual depiction of click with Js on keyboard */
button.symbol:active, button.number:active, button.symbol.active, button.number.active {
  border: 1px solid var(--btn-active);
}

/* viewports taller than they are wide */
/* mobile: height > 700px */
@media screen and (min-height: 700px) {
  .title {
    padding: 0.95rem;
  }

  /* increasing keypad font-size increases its min-content (size) so reduced keypad flex to maintain proportion */
  .keypad {
    flex: 3 auto;
  }

  button.symbol {
    font-size: var(--symbtn-sec-font-size);
  }

  button.number {
    font-size: var(--numbtn-sec-font-size);
  }
}

@media screen and (min-width: 500px) {
  .shortcut h2 {
    font-size: var(--shtcut-h2-sec-font-size);
  }

  .shortcut p, .shortcut button {
    font-size: var(--shtcut-p-sec-font-size);
  }
  
  .calculator {
    max-height: 900px;
    padding: 2rem 3.5rem 3.5rem;
  }

  .title {
    font-size: var(--title-sec-font-size);
  }

  .outputt {
    font-size: var(--output-sec-font-size);
  }

  .data {
    font-size: var(--data-big-font-size);
  }

  .keypad {
    padding-top: var(--keypad-sec-top-padding);
    gap: 0.95rem;
  }
}

@media screen and (min-width: 767px) {
  .shortcut {
    width: 67.5vw;
  }

  .shortcut h2 {
    font-size: var(--shtcut-h2-big-font-size);
  }

  .shortcut p, .shortcut button {
    font-size: var(--shtcut-p-big-font-size);
  }

  .calculator {
    width: 65vw;
  }

  .title {
    font-size: var(--title-big-font-size);
  }

  .keypad {
    flex: 2.45 auto;
  }

  .keypad button {
    border-radius: 7%;
  }

  button.symbol {
    font-size: var(--symbtn-big-font-size);
  }

  button.number {
    font-size: var(--numbtn-big-font-size);
  }
}

/* viewports wider than they are tall */
@media screen and (min-width: 960px) {
  .shortcut {
    width: 35.5vw;
  }

  .shortcut h2 {
    font-size: var(--shtcut-h2-base-font-size);
  }

  .shortcut p, .shortcut button {
    font-size: var(--shtcut-p-base-font-size);
  }

  .calculator {
    width: 35vw;
    max-width: 520px;
    padding: 1.75rem 2.25rem 2.25rem;
  }

  .title {
    font-size: var(--title-base-font-size);
  }

  .outputt {
    font-size: var(--output-base-font-size);
  }

  .data {
    font-size: var(--data-base-font-size);
  }

  .keypad {
    padding-top: var(--keypad-base-top-padding);
  }

  button.symbol {
    font-size: var(--symbtn-sec-font-size);
  }

  button.number {
    font-size: var(--numbtn-sec-font-size);
  }
}

@media screen and (min-width: 1200px) {
  .shortcut {
    width: 32.5vw;
  }

  .calculator {
    width: 30.5vw;
    padding: 1.75rem 2.5rem 2.5rem;
  }

  .title {
    font-size: var(--title-sec-font-size);
  }

  .outputt {
    font-size: var(--output-sec-font-size);
  }

  .data {
    font-size: var(--data-sec-font-size);
  }

  .keypad {
    padding-top: var(--keypad-sec-top-padding);
  }

  button.symbol {
    border-width: var(--btn-sec-border-width);
    font-size: var(--symbtn-big-font-size);
  }

  button.number {
    border-width: var(--btn-sec-border-width);
    font-size: var(--numbtn-big-font-size);
  }
}

@media screen and (min-width: 1440px) {
  .shortcut h2 {
    font-size: var(--shtcut-h2-sec-font-size);
  }

  .shortcut p, .shortcut button {
    font-size: var(--shtcut-p-sec-font-size);
  }

  .calculator {
    padding: 2.25rem 2.75rem 2.75rem;
  }

  .title {
    font-size: var(--title-big-font-size);
  }
}


/* FOOTER || */

footer {
  padding: 0.75rem 0;
  font-size: 1.5rem;
}
