:root {
  --search-icons-size: 2.4rem;
}

html, body {
  height: 100%; /* ensures page takes up full browser viewport but still works with text zoom */
}

.content {
  min-height: 100%;
  display: flex; /* override display block in base styling */
  flex-direction: column;
}

main {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

main h1 {
  padding: var(--base-spacing) 0;
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: 600;
}

main p {
  order: 1;
  padding: var(--base-spacing) 0;
  line-height: 1.75;
}

main p svg {
  display: inline-block;
  width: var(--search-icons-size);
  height: var(--search-icons-size);
  vertical-align: text-bottom;
}

/* ensures custom properties cascade into svg from <use> */
[data-theme="light"] .error-icon {
  --icon-bg-color: hsl(0 77% 47%);
  --icon-color: var(--light-gray);
}

[data-theme="dark"] .error-icon {
  --icon-bg-color: hsl(0 100% 50%);
  --icon-color: var(--very-dark-blue);
}

/* Search Widget */
.search-widget {
  background-color: var(--elem-bg);
  border: 0.1rem solid var(--elem-border);
  border-radius: 2.4rem;
  padding: calc(var(--base-spacing) * 0.4) var(--base-spacing);
  display: flex;
}

.search-widget > span {
  flex: 1 1 0px;
  padding: calc(var(--base-spacing) * 0.1) 0;
  position: relative;
}

.search-widget > span:focus-within {
  background-color: var(--search-focus);
  color: var(--search-focus-txt);
  outline: 0.1rem solid var(--search-focus-ring);
}

.search-widget label {
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
  opacity: 1;
}

.search-widget label:not([data-visible]) {
  opacity: 0.0001;
}

.search-widget input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  /* ↑ced font-size makes the caret and input more visible, line-height of 1 ensures it still fits over its label */
  font-size: calc(var(--base-font-size) * 1.5);
  line-height: 1;
}

.search-widget > button {
  --search-btn-horizontal-spacing: calc(var(--base-spacing) * 0.8);
  --search-btn-vertical-spacing: calc(var(--base-spacing) * 0.2);
  width: calc(var(--search-icons-size) + var(--search-btn-horizontal-spacing));
  height: calc(var(--search-icons-size) + var(--search-btn-vertical-spacing));
  padding: var(--search-btn-vertical-spacing) calc(var(--search-btn-horizontal-spacing) * 0.35) 0 calc(var(--search-btn-horizontal-spacing) * 0.65);
  cursor: pointer;
  position: relative;
}

.search-widget > button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-widget > button:hover::after, .search-widget > button:focus {
  outline: 0.2rem solid var(--search-focus);
}

.search-widget > button:focus:not(:focus-visible) {
  outline: none;
}

.search-widget > button svg {
  width: 100%;
  height: 100%;
}

/* ensures custom properties cascade into svg from <use> */
[data-theme="light"] .search-icon {
  --icon-bg-color: var(--white);
  --icon-color: var(--dark-blue);
}

[data-theme="dark"] .search-icon {
  --icon-bg-color: var(--blue);
  --icon-color: var(--very-light-gray);
}
