/* FONT */
@font-face {
  font-family: 'source_serif_proitalic';
  src: url('/fonts/sourceserifpro-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
}

h1 {
  text-align: center;
}

ul, ol {
  list-style-type: none;
}

button, a {
  color: inherit;
}

a {
  text-decoration: none;
}

/* ensures that page is only visible after content loading, when css is disabled */
[hidden] {
  display: none !important;
}

[data-visually-hidden] {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

/* GENERAL */
:root {
  font-size: 62.5%; /* reset 4 easier sizing w/out impacting text resize */
  --italic-font: 'source_serif_proitalic';
  --base-font-size: 1.6rem;
  --base-spacing: 1.25rem;
  --white: hsl(0 0% 99%);
  --very-light-gray: hsl(0 0% 100% / 75%);
  --light-gray: hsl(0 0% 95%);
  --gray: hsl(0 0% 58%);
  --dark-gray: hsl(0 0% 40%);
  --very-light-blue: hsl(240 100% 97%);
  --light-blue: hsl(205 50% 25%);
  --blue: hsl(209 23% 22%);
  --dark-blue: hsl(207 26% 17%);
  --very-dark-blue: hsl(200 15% 8%);
}

:root[data-theme="light"] {
  --pg-bg: var(--light-gray);
  --pg-txt: var(--dark-blue);
  --elem-bg: var(--very-light-gray);
  --elem-border: var(--gray);
  --skip-bg: var(--very-light-blue);
  --search-focus: var(--light-blue);
  --search-focus-txt: var(--very-light-blue);
  --search-listbox-bg: var(--white);
  --search-listbox-scrollbar-track: var(--light-blue);
  --search-listbox-scrollbar-thumb: var(--very-light-blue);
}

:root[data-theme="dark"] {
  --pg-bg: var(--very-dark-blue);
  --pg-txt: var(--very-light-gray);
  --elem-bg: var(--dark-blue);
  --elem-border: var(--gray);
  --skip-bg: var(--blue);
  --search-focus: var(--very-light-gray);
  --search-focus-txt: var(--very-dark-blue);
  --search-listbox-bg: var(--dark-blue);
  --search-listbox-scrollbar-track: var(--very-light-gray);
  --search-listbox-scrollbar-thumb: var(--very-dark-blue);
}

html, body {
  height: 100%; /* ensures page takes up full browser viewport but still works with zoom */
}

/* sets noscript text properties for when JavaScript is turned off */
body {
  font: var(--base-font-size)/1.5 var(--italic-font, serif);
}

.content {
  min-height: 100%;
  display: block;
  color: var(--pg-txt);
  background-color: var(--pg-bg);
  padding: 0 var(--base-spacing);
}

[data-skip] {
  position: absolute;
  left: 0;
  border: 3px solid var(--elem-border);
  border-radius: 3px;
  padding: calc(var(--base-spacing) * 0.45);
  background-color: var(--skip-bg);
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  z-index: 3;
  transform: translateY(-50rem);
  transition: transform 0.55s ease-in-out;
}

[data-skip]:focus {
  transform: translateY(1rem);
}

header {
  padding: calc(var(--base-spacing) * 0.8) 0;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: var(--base-spacing);
}

/* Logo */
.logo {
  --logo-size: 2.75rem;
  grid-column: 1 / 2;
  align-self: center;
  width: var(--logo-size);
  height: var(--logo-size);
  border-radius: 50%;
  cursor: pointer;
}

.logo a, .logo img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.logo:hover, .logo a:focus {
  outline: 1px solid var(--elem-border);
  outline-offset: 2px;
}

/* removes focus styling for mouse users on browsers that support :focus-visible */
.logo a:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0;
}

/* Theme Widget */
button.theme-toggle {
  grid-column: 2 / -1;
  justify-self: end;
  position: relative; /* for positioning pseudo-elements for styling */
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

/* custom properties aren't inherited by pseudo-elements */
button.theme-toggle::before, button.theme-toggle::after, .toggle-ctrl::before, .toggle-ctrl, .toggle-ctrl::after {
  --theme-ctrl-size: 2.4rem
}

/* button.theme-toggle::before for hover styling, button.theme-toggle::after for focus styling */
[data-theme="light"] button.theme-toggle::before, [data-theme="light"] button.theme-toggle::after, [data-theme="light"] .toggle-ctrl::before, [data-theme="light"] .toggle-ctrl {
  --dark-blue: hsl(207 26% 17%);
  --very-light-gray: hsl(0 0% 100% / 75%);
  --switch-bg: var(--dark-blue);
  --switch-border: var(--very-light-gray);
  --switch-knob-bg: var(--very-light-gray);
  --switch-knob-border: var(--dark-blue);
}

[data-theme="dark"] button.theme-toggle::before, [data-theme="dark"] button.theme-toggle::after, [data-theme="dark"] .toggle-ctrl::before, [data-theme="dark"] .toggle-ctrl, [data-theme="dark"] .toggle-ctrl::after {
  --very-light-gray: hsl(0 0% 100% / 75%);
  --dark-gray: hsl(0 0% 40%);
  --switch-bg: var(--very-light-gray);
  --switch-border: var(--dark-gray);
  --switch-knob-bg: var(--dark-gray);
  --switch-knob-border: var(--very-light-gray);
}

/* allows for hover styling distinct from focus styling so focus-visible can be utilized in supporting browsers */
button.theme-toggle::before, button.theme-toggle::after {
  content: "";
  position: absolute;
  /* top and left of auto ensures button pseudo-elements fit over toggle control */
  width: calc(var(--theme-ctrl-size) * 2);
  height: var(--theme-ctrl-size);
  z-index: 2;
}

button.theme-toggle:hover::before, button.theme-toggle:focus::after {
  border: 0.5rem double var(--switch-border);
  border-radius: 10000000000000000px;
}

button.theme-toggle:focus:not(:focus-visible)::after {
  border: none;
}

.toggle-ctrl {
  width: calc(var(--theme-ctrl-size) * 2);
  height: var(--theme-ctrl-size);
  flex: 1 0 auto; /* ensures toggle control never shrinks below its base size */
  border-radius: 10000000000000000px; /* hack to produce a perfect pill on rectangular elements */
  background-color: var(--switch-bg);
  transition: background-color 0.4s ease-in-out;
  position: relative; /* for positioning toggle control knob */
}

/* toggle control knob */
.toggle-ctrl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--theme-ctrl-size);
  height: var(--theme-ctrl-size);
  background-color: var(--switch-knob-bg);
  border: 0.5rem double var(--switch-knob-border);
  border-radius: 50%;
  z-index: 3;
}

button.theme-toggle[aria-pressed="true"] .toggle-ctrl::before {
  transform: translateX(var(--theme-ctrl-size));
  transition: transform 0.4s ease-in-out;
}

button.theme-toggle[aria-pressed="false"] .toggle-ctrl::before {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  button.theme-toggle[aria-pressed] .toggle-ctrl::before, .toggle-ctrl {
    transition: none;
  }
}

/* Main */
main h1 {
  padding: var(--base-spacing) 0;
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: 600;
}

/* Footer */
footer {
  text-align: center;
}

small {
  font-size: calc(var(--base-font-size) * 0.75);
}
