:root {
  --pg-bg: var(--very-dark-blue);
  --pg-txt: var(--very-light-gray);
  --elem-bg: var(--dark-blue);
  --elem-border: var(--gray);
  --skip-bg: var(--blue);
  --search-focus: var(--very-light-gray);
  --search-bg: var(--dark-blue);
  --error-txt: var(--dusted-red);
}

/* custom properties aren't inherited by pseudo-elements */
button.theme-toggle::before, button.theme-toggle::after, .toggle-ctrl::before, .toggle-ctrl {
  --very-light-gray: hsl(0 0% 100% / 75%);
  --dark-gray: hsl(0 0% 40%);
  --switch-bg: var(--very-light-gray);
  --switch-border: var(--dark-gray);
  --switch-knob-bg: var(--dark-gray);
  --switch-knob-border: var(--very-light-gray);
}

/* ensures custom properties cascade into svg from <use> */
use.search-icon {
  --icon-bg-color: var(--blue);
  --icon-color: var(--very-light-gray);
}
