:root {
  --pg-bg: var(--very-dark-blue);
  --pg-txt: var(--very-light-gray);
  --elem-bg: var(--dark-blue);
  --elem-border: var(--gray);
  --skip-bg: var(--blue);
  --search-focus: var(--very-light-gray);
  --search-bg: var(--dark-blue);
  --error-txt: var(--dusted-red);
  --flag-toggle: var(--light-blue);
}

/* custom properties aren't inherited by pseudo-elements */
.toggle-ctrl::before,
.toggle-ctrl {
  --very-light-gray: hsl(0 0% 100% / 75%);
  --dark-gray: hsl(0 0% 40%);
  --toggle-bg: var(--very-light-gray);
  --toggle-border: var(--dark-gray);
  --toggle-knob-bg: var(--dark-gray);
  --toggle-knob-border: var(--very-light-gray);
}

/* ensures custom properties cascade into svg from <use> */
use.search-icon {
  --icon-bg-color: var(--blue);
  --icon-color: var(--very-light-gray);
}

[aria-label="Pagination"] use {
  --icon-color: var(--very-light-gray);
}
