:root {
  --pg-bg: var(--light-gray);
  --pg-txt: var(--dark-blue);
  --elem-bg: var(--very-light-gray);
  --elem-border: var(--dark-gray);
  --skip-bg: var(--very-light-blue);
  --search-focus: var(--light-blue);
  --search-bg: var(--white);
  --error-txt: var(--bright-red);
}

/* custom properties aren't inherited by pseudo-elements */
.toggle-ctrl::before, .toggle-ctrl {
  --dark-blue: hsl(207 26% 17%);
  --very-light-gray: hsl(0 0% 100% / 75%);
  --toggle-bg: var(--dark-blue);
  --toggle-border: var(--very-light-gray);
  --toggle-knob-bg: var(--very-light-gray);
  --toggle-knob-border: var(--dark-blue);
}

/* ensures custom properties cascade into svg from <use> */
use.search-icon {
  --icon-bg-color: var(--white);
  --icon-color: var(--dark-blue);
}

[aria-label="Pagination"] use {
  --icon-color: var(--dark-blue);
}
