/* FONTS */
@font-face {
  font-family: 'lobsterregular';
  src: url('/fonts/lobster-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inconsolataregular';
  src: url('/fonts/inconsolata-variablefont_wdthwght-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; /*:focus styles have been implemented*/
  font-family: inherit;
}

ul, ol {
  list-style-type: none;
}

strong {
  font-weight: 800;
}

/* GENERAL || */
[data-visually-hidden] {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.skip-link {
  position: absolute;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: #00f;
  padding: 1.05rem;
  border: 1.25px solid #fff;
  z-index: 1;
  transform: translateY(-500px);
  transition: transform 0.4s ease-in-out;
}

.skip-link:focus {
  transform: translateY(10px);
}

:root {
  font-size: 62.5%; /* reset 4 easier sizing w/out impacting text resize */
  --base-font-size: 1.6rem;
  --base-spacing: 1.25rem;
}
