/* Search Widget */
.search-widget {
  --search-btn-size: 3rem;
  --search-widget-vertical-spacing: calc(var(--base-spacing) * 0.4);
  --search-widget-horizontal-spacing: var(--base-spacing);
  grid-column: 1 / -1;
  background-color: var(--elem-bg);
  border: 1px solid var(--elem-border);
  border-radius: 10000000000000000px;
  padding: var(--search-widget-vertical-spacing) var(--search-widget-horizontal-spacing);
  display: flex;
  align-items: center; /* to support WCAG 1.4.4 on a 320px wide viewport */
}

.search-widget search-combobox {
  flex: 1 1 0px;
}

.search-widget button[type="submit"] {
  width: var(--search-btn-size);
  height: var(--search-btn-size);
  cursor: pointer;
  position: relative; /* allows for positioning of ::after for hover styling */
}

/* allows for button hover styling distinct from focus styling so focus-visible can be utilized in supporting browsers */
.search-widget button[type="submit"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-widget button[type="submit"]:hover::after, .search-widget button[type="submit"]:focus {
  outline: 2px solid var(--search-focus);
}

.search-widget button[type="submit"]:focus:not(:focus-visible) {
  outline: none;
}

button[type="submit"] svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* ensures custom properties cascade into svg from <use> */
use.search-icon, [data-theme="light"] use.search-icon {
  --icon-bg-color: var(--white);
  --icon-color: var(--dark-blue);
}

@media screen and (prefers-color-theme: dark) {
  use.search-icon {
    --icon-bg-color: var(--blue);
    --icon-color: var(--very-light-gray);
  }
}

[data-theme="dark"] use.search-icon {
  --icon-bg-color: var(--blue);
  --icon-color: var(--very-light-gray);
}

@media screen and (forced-colors: active) {
  .toggle-ctrl::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: calc(var(--theme-ctrl-size) * 2);
    height: var(--theme-ctrl-size);
    border: 0.2rem solid;
    border-radius: 10000000000000000px;
  }

  button.theme-toggle:hover .toggle-ctrl::after, button.theme-toggle:focus .toggle-ctrl::after {
    border: none;
  }

  /*
   * defined separately to prevent other styling from failing in browsers that don't support focus-visible,
   * defined after focus styling to ensure it overrides default focus styles in supporting browsers
   */
  button.theme-toggle:focus:not(:focus-visible) .toggle-ctrl::after {
    border: 0.2rem solid;
  }

  /* coz not all browsers use auto as the default value for forced-color-adjust on svg elements */
  button[type="submit"] svg {
    forced-color-adjust: auto;
  }

  use.search-icon, [data-theme="light"] use.search-icon, [data-theme="dark"] use.search-icon {
    --icon-bg-color: Canvas;
    --icon-color: currentColor;
  }
}
